.about {
  font-size: 1.75rem;
  padding: 40px;
  background-color: blanchedalmond;
  height: 65vh;
  font-style: italic;
}

/* Animation for the first paragraph */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.first {
  animation: slideInFromLeft 1s ease-out forwards;
}

.second {
  animation: slideInFromRight 1s ease-out forwards;
}
